.button-preview {
    margin: 0 auto;
    padding: 20%;
    text-align: center;
    width: 50%;
}

.button {
    all:unset;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color:var(--white);
    transition: background-color 1s ease-in-out;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    margin: 8px;
}

.button:disabled {
    pointer-events: none;
    opacity: 0.5; 
}

.button_primary {
    background-color:  var(--primary);
    padding: 16px 66px;
}

.button_secondary {
    background-color: var(--secondary);
    padding: 16px 56px;
}

.button_alternate {
    border: solid 1px var(--grey-3);
    color: var(--black);
    background-color: var(--white);
    padding: 16px 61px;
}

.button_primary:hover {
    background-color:var(--primary-hover);
}

.button_secondary:hover {
    background-color:var(--secondary-hover);
}

.button_alternate:hover {
    border-color:  var(--black);
    transition: border-color 1s ease-in-out;
}