
.preview {
    background-color:rgb(247, 245, 243);
    width: 100%;
    padding: 139px 0;
    display: inline-block;
    text-align: center;
}

.container {
    width: 100%;
}

.preview__buttons {
    font-size: 0;
    text-align: center;
}

.button {
    all:unset;
    padding: 15px 15px 14px;
    width: 100%;
    max-width: 189px;
    height: 48px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color:var(--white);
    transition: background-color 1s ease-in-out;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
}

.preview__button {
    margin: 16px 8px;
}

.button:disabled {
    pointer-events: none;
    opacity: 0.5; 
}

.button_primary {
    background-color:  var(--primary);
}

.button_secondary {
    background-color: var(--secondary);
}

.button_alternate {
    border: solid 1px var(--grey-3);
    color: var(--black);
    background-color: var(--white);

}

.button_primary:hover {
    background-color:var(--primary-hover);
}

.button_secondary:hover {
    background-color:var(--secondary-hover);
}

.button_alternate:hover {
    border-color:  var(--black);
    transition: border-color 1s ease-in-out;
}
