
.body {
    margin-top: 75px;
}

.details {
    border: solid #ACB5BD 1px;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.details__body {
    margin: auto auto 8px;
    display: block;
    width: 100%;
    max-width: 730px;
}

.details__title {
    margin: 24px auto 16px 32px;
    list-style: none;
    color: black;
}


.details__content {
    margin: 16px 48.69px 32px 32px ;
    color: #495057;
}

.details__content p:last-child {
    margin-bottom: 0;
  }
  .details__content p:first-child {
    margin-top: 0;
  }
