.header__title {
    padding: 96px 15px 77px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    /* padding: 96px 40% 77px 11.5%; */
}