.popup {

}

.popup__button-block {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

.popup__button {
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color:var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background-color:  var(--primary);
    padding: 15px 51px;
}

.popup__popup-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(196, 196, 196, 0.2);;
}

.popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 428px;
    text-align: center;
    display: block;
    background-color: var(--white);
    border-radius: 8px;
}

.popup__close {
    max-width: 16px;
    height: 16px;
    margin: 12px 12px 0 93%;
}

.popup__title {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--popup-title);
    margin: 30px auto 0 40px;
}

.popup__text {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
    margin: 14px 40px 33px 40px;
}

.popup__layout {
   
}