.popup {
    margin: 0 auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 35px 34px;
}

.popup__button-block {
    display: grid;
    justify-items: center;
    align-items: center;
}

.popup__button {
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color:var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background-color:  var(--primary);
    padding: 15px 51px;
}

.popup__popup-block {
    display: flex;
    background-color: var(--popup-content);
}

.popup__content {
    display: block;
    background-color: var(--white);
    margin: 40px 40px 47px;
    border-radius: 8px;
}

.popup__close {
    width: 16px;
    height: 16px;
    margin: 12px 12px 0 94%;
}

.popup__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--popup-title);
    margin: 30px auto 0 40px;
}

.popup__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
    margin: 14px 40px 33px 40px;
}

.popup__layout {
   
}