.button {
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color:var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color:  var(--primary);
    padding: 15px 51px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button:hover {
    cursor: pointer;
    background: rgba(55, 76, 199, 0.8);
}