.radio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
}

.radio__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.radio__input {
    position: absolute;
    left: -100vw;
}

.radio__control {
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey-2);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.radio__icon {
    display: none;
}

.radio__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.radio__input:checked ~ .radio__state
.radio__control {
    border-color: var(--blue-1);
    border-width: 2px;
    width: 24px;
    height: 24px;
}

.radio__input:checked ~ .radio__state
.radio__icon {
    display: block;
    width: 18px;
    height: 18px;
}

.radio__input:disabled ~ .radio__state
.radio__control {
    background: var(--grey-2);
}

.radio__input:disabled ~ .radio__state
.radio__icon {
    display: none;
}

.radio__input:disabled ~ .radio__state
.radio__title {
    color: var(--blue-1);
}

/* .radio__input:focus ~ .radio__state
.radio__title {
    text-decoration: underline;
} */

/* почему не работает подчеркивание при фокусе: строки 70-73? */