.tooltip {
    display: inline-block;
    position: relative;
    top: 62px;
    left: 50%;
}

.tooltip__bubble {
    display: none;
    width: 129px;
    padding-top: 13px;
    padding-bottom: 8px;
    padding-left: 21px;
    padding-right: 21px;
    background: var(--blue-trigger);
    color: var(--grey-2);
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    bottom: calc(100% + 14px);
}

.tooltip__bubble:before {
    content: '';
    position: absolute;
    border: 14px solid transparent;
    border-top-color:var(--blue-trigger);
    top: 100%;
    left:50%;
    transform:translateX(-50%);
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}