.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
}

.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;
}

.checkbox__input {
    position: absolute;
    left: -100vw;
}

.checkbox__control {
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey-2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkbox__icon {
    display: none;
}

.checkbox__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.checkbox__input:checked ~ .checkbox__state
.checkbox__control {
    border-color: var(--blue-1);
    background: var(--blue-1);
}

.checkbox__input:checked ~ .checkbox__state
.checkbox__icon {
    display: block;
}

.checkbox__input:disabled ~ .checkbox__state
.checkbox__control {
    background: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state
.checkbox__icon {
    display: none;
}

.checkbox__input:disabled ~ .checkbox__state
.checkbox__icon {
    color: var(--grey-2);
}

.checkbox__input:focus ~ .checkbox__state
.checkbox__title {
    text-decoration: underline;
}