.histogram {
    margin: 0 auto;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
}

.histogram_small {
   margin: 80px 12px 45px;
}

.histogram__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 16px 24px;
}

.histogram__blocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.histogram__orders {
    text-align: justify;
}

.histogram__text {
    margin: 0;
    margin-bottom: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}

.histogram__numbers {
    margin: 0;
    margin-bottom: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.histogram__link {
    width: 59px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: var(--prim-blue);
}

.histogram__pipes {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    width: 100%;
    max-width: 299px;
}

.histogram__pipe {
    margin-right: 1px;
    width: 9px;
}
