
.input {
    display: flex;
    align-items: center;
    width: 350px;
    height: 54px;
    position: relative;
}

.input__label {
    position: absolute;
    top: -23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.input__folder {
    padding: 0;
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: var(--grey-2);
    border-style: solid;
    border-radius: 8px;
}

.input__folder:focus {
    border-color: var(--blue-1);
}
.input__folder_error {
    border-color: var(--red);
}

.input__icon {
    display: none;
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
}

.input__icon_success{
    display: block;
    background-image: url(/assets/images/Input/check-circle.svg);
}

.input__icon_error{
    display: block;
    background-image: url(/assets/images/Input/alert-triangle.svg);
}